.place-order{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 100px;
    gap: 50px;


}
.place-order-left{
    width: 100%;
    max-width: 40%;
    gap: 20px;
}
.place-order-left p{
    font-size: 1.5em;
    font-weight: bold;
    color: #2e2e32;
    margin-bottom: 15px;

}
.place-order-left input{
    width: 100%;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
    border:2px solid #919096;
    outline-color: tomato;
    border-radius: 5px;
    background-color: whitesmoke;


}
.multi-fields{
    display: flex;
    gap: 10px;
}

.place-order-right{
    width: 100%;
    max-width: 40%;
}
.place-order .cart-total button{
    margin-top: 15px;
    max-width: 40%;
}
